In [1]:
import pandas as pd
import numpy as np

Getting info on ip addresses

In [2]:
ip = '97.105.19.61'
# def ipinfo(ip):
import requests
host = 'https://ipinfo.io/'

response = requests.get(host+ip)

In [3]:
response.json()

{'ip': '97.105.19.61',
 'hostname': '097-105-019-061.biz.spectrum.com',
 'city': 'Houston',
 'region': 'Texas',
 'country': 'US',
 'loc': '29.7633,-95.3633',
 'org': 'AS11427 Charter Communications Inc',
 'postal': '77002',
 'timezone': 'America/Chicago',
 'readme': 'https://ipinfo.io/missingauth'}

I ran into api limits on the ip geolocation services below.
'https://ipinfo.io/'
'https://geolocation-db.com/json/'

I was able to find the service 'http://www.geoplugin.net' and found that it is free for up to 120 requests per minute.

In [4]:
def get_ip_info(ip=''):
    """For a single IP Address, get a dictionary describing the IP Address."""
    import requests
    host = 'http://www.geoplugin.net/json.gp?ip='
    response = requests.get(host+ip)
    return response.json()

In [5]:
get_ip_info(ip)

{'geoplugin_request': '97.105.19.61',
 'geoplugin_status': 200,
 'geoplugin_delay': '1ms',
 'geoplugin_credit': "Some of the returned data includes GeoLite data created by MaxMind, available from <a href='http://www.maxmind.com'>http://www.maxmind.com</a>.",
 'geoplugin_city': 'Euless',
 'geoplugin_region': 'Texas',
 'geoplugin_regionCode': 'TX',
 'geoplugin_regionName': 'Texas',
 'geoplugin_areaCode': '',
 'geoplugin_dmaCode': '623',
 'geoplugin_countryCode': 'US',
 'geoplugin_countryName': 'United States',
 'geoplugin_inEU': 0,
 'geoplugin_euVATrate': False,
 'geoplugin_continentCode': 'NA',
 'geoplugin_continentName': 'North America',
 'geoplugin_latitude': '32.8548',
 'geoplugin_longitude': '-97.0819',
 'geoplugin_locationAccuracyRadius': '20',
 'geoplugin_timezone': 'America/Chicago',
 'geoplugin_currencyCode': 'USD',
 'geoplugin_currencySymbol': '$',
 'geoplugin_currencySymbol_UTF8': '$',
 'geoplugin_currencyConverter': 0}

This works.. but it's a bit cluttered imo.  Though it's easier to clean it up after it gets into dataframe format rather than at the requests level.

In [6]:
def build_ip_info_df(addresses):
    import time
    out = {}
    for i, ip in enumerate(addresses):
        time.sleep(.52)
        out[i] = get_ip_info(ip)
    return pd.DataFrame.from_dict(out, orient='index')

In [7]:
# I need the list of ips
import acquire
df = acquire.wrangle_data()

In [8]:
all_ips = df.ip.sort_values().unique().tolist()

In [9]:
len(all_ips)

5200

In [10]:
pd.DataFrame(all_ips, columns=['ip'])

                  ip
0     100.11.170.135
1       100.19.73.35
2      100.35.67.162
3     103.137.12.164
4       104.1.46.153
...              ...
5195    99.97.210.12
5196   99.98.245.245
5197    99.98.32.165
5198     99.98.32.97
5199    99.98.36.168

[5200 rows x 1 columns]

In [11]:
build_ip_info_df(all_ips[:5])

,geoplugin_request,geoplugin_status,geoplugin_delay,geoplugin_credit,geoplugin_city,geoplugin_region,geoplugin_regionCode,geoplugin_regionName,geoplugin_areaCode,geoplugin_dmaCode,...,geoplugin_continentCode,geoplugin_continentName,geoplugin_latitude,geoplugin_longitude,geoplugin_locationAccuracyRadius,geoplugin_timezone,geoplugin_currencyCode,geoplugin_currencySymbol,geoplugin_currencySymbol_UTF8,geoplugin_currencyConverter
0,100.11.170.135,200,2ms,Some of the returned data includes GeoLite dat...,Philadelphia,Pennsylvania,PA,Pennsylvania,,504,...,NA,North America,40.0558,-75.0773,1,America/New_York,USD,$,$,0.0000
1,100.19.73.35,200,2ms,Some of the returned data includes GeoLite dat...,Philadelphia,Pennsylvania,PA,Pennsylvania,,504,...,NA,North America,40.0558,-75.0773,1,America/New_York,USD,$,$,0.0000
2,100.35.67.162,200,1ms,Some of the returned data includes GeoLite dat...,Jersey City,New Jersey,NJ,New Jersey,,501,...,NA,North America,40.7182,-74.0476,1,America/New_York,USD,$,$,0.0000
3,103.137.12.164,200,1ms,Some of the returned data includes GeoLite dat...,Brisbane,Queensland,QLD,Queensland,,,...,OC,Oceania,-27.4732,153.0215,1000,Australia/Brisbane,AUD,$,$,1.4533
4,104.1.46.153,200,2ms,Some of the returned data includes GeoLite dat...,San Antonio,Texas,TX,Texas,,641,...,NA,North America,29.4873,-98.4532,10,America/Chicago,USD,$,$,0.0000

In [12]:
def get_ip_info(ip=''):
    """For a single IP Address, get a dictionary describing the IP Address."""
    import requests
    host = 'http://www.geoplugin.net/json.gp?ip='
    response = requests.get(host+ip)
    return response.json()

def build_ip_info_df(addresses):
    import time
    out = {}
    for i, ip in enumerate(addresses):
        time.sleep(.52)
        out[i] = get_ip_info(ip)
    return pd.DataFrame.from_dict(out, orient='index')

def get_ips():
    """WARNING: This will take over an hour if not reading from cache.
    
    Builds the unleaned IP geolocation dataframe."""
    import os
    filename='ips.csv'
    
    if os.path.isfile(filename):
        ips = pd.read_csv(filename)

    else:
        ip_list = acquire.wrangle_data().ip.sort_values().unique().tolist()
        ips = build_ip_info_df(ip_list)
        ips.to_csv(filename, index=False)
    return ips
    
def wrangle_ips():

    ips = get_ips()

    ips.columns = [col[10:] for col in ips]
    cols_to_keep = ['request',
                'status',
                'delay',
                'city',
                'regionCode',
                'regionName',
                'countryCode',
                'countryName',
                'continentName',
                'latitude',
                'longitude',
                ]
    ips = ips[cols_to_keep]
    ips = ips.rename(columns={'request':'ip'})

    return ips

In [13]:
pd.options.display.max_columns = None
ips = wrangle_ips()
ips.head()

,ip,status,delay,city,regionCode,regionName,countryCode,countryName,continentName,latitude,longitude
0,100.11.170.135,200,1ms,Philadelphia,PA,Pennsylvania,US,United States,North America,40.0558,-75.0773
1,100.19.73.35,200,1ms,Philadelphia,PA,Pennsylvania,US,United States,North America,40.0558,-75.0773
2,100.35.67.162,200,1ms,Jersey City,NJ,New Jersey,US,United States,North America,40.7182,-74.0476
3,103.137.12.164,200,1ms,Brisbane,QLD,Queensland,AU,Australia,Oceania,-27.4732,153.0215
4,104.1.46.153,200,1ms,San Antonio,TX,Texas,US,United States,North America,29.4873,-98.4532

In [14]:
ips.isna().sum()

ip                 0
status             0
delay              0
city             878
regionCode       687
regionName       687
countryCode        2
countryName        2
continentName      2
latitude           2
longitude          2
dtype: int64

In [15]:
ips.status.value_counts()

200    4322
206     876
404       2
Name: status, dtype: int64

In [16]:
ips[ips.status == 404]

,ip,status,delay,city,regionCode,regionName,countryCode,countryName,continentName,latitude,longitude
860,127.0.0.1,404,1ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4580,77.111.247.10,404,1ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
ips.countryName.value_counts()

United States          5079
Mexico                   35
Canada                   18
Bahamas                  17
France                   11
Thailand                 11
Germany                   7
Turkey                    6
Australia                 3
Ukraine                   2
India                     1
Puerto Rico               1
U.S. Virgin Islands       1
Singapore                 1
China                     1
Switzerland               1
United Kingdom            1
Sweden                    1
Ireland                   1
Name: countryName, dtype: int64

In [18]:
df = df.merge(ips, how='left', on='ip', suffixes=[None,'_ip'])

In [19]:
df.isna().sum()

ip                    0
endpoint              0
user_id               0
cohort_id             0
cohort_name           0
slack                 0
start_date            0
end_date              0
program_id            0
program               0
module            45854
lesson           191445
status                0
delay                 0
city              10860
regionCode         9283
regionName         9283
countryCode           8
countryName           8
continentName         8
latitude              8
longitude             8
dtype: int64

In [20]:
df.countryName.value_counts(dropna=False)

United States          845723
Mexico                    446
Turkey                    319
Canada                    244
Germany                   193
Bahamas                   129
France                     88
Thailand                   59
Switzerland                48
Australia                  23
Ireland                    18
India                       9
NaN                         8
Sweden                      5
U.S. Virgin Islands         4
Ukraine                     4
Singapore                   4
United Kingdom              2
China                       2
Puerto Rico                 1
Name: countryName, dtype: int64

In [21]:
def merge_ip_info(df):
    ips = wrangle_ips()
    df = df.merge(ips, how='left', on='ip', suffixes=[None,'_ip'])
    return df

In [22]:
df = acquire.wrangle_data()
df = merge_ip_info(df)
df.head()

,ip,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson,status,delay,city,regionCode,regionName,countryCode,countryName,continentName,latitude,longitude
0,97.105.19.61,/,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,None,None,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
1,97.105.19.61,java-ii,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,None,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
2,97.105.19.61,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,object-oriented-programming,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
3,97.105.19.61,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,slides,object_oriented_programming,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
4,97.105.19.61,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2,Full Stack Java,javascript-i,conditionals,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819

In [23]:
def wrangle_ip_merged():
    df = acquire.wrangle_data()
    df = df.reset_index()
    df = merge_ip_info(df)
    df = df.set_index('datetime')
    return df

In [24]:
df = wrangle_ip_merged()
df.head()

,ip,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson,status,delay,city,regionCode,regionName,countryCode,countryName,continentName,latitude,longitude
datetime,,,,,,,,,,,,,,,,,,,,,,
2018-01-26 09:55:03,97.105.19.61,/,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,None,None,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
2018-01-26 09:56:02,97.105.19.61,java-ii,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,None,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
2018-01-26 09:56:05,97.105.19.61,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,object-oriented-programming,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
2018-01-26 09:56:06,97.105.19.61,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,slides,object_oriented_programming,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819
2018-01-26 09:56:24,97.105.19.61,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2,Full Stack Java,javascript-i,conditionals,200,1ms,Euless,TX,Texas,US,United States,North America,32.8548,-97.0819